/*头部样式*/
header {
	width: 100%;
	height: 30px;
	background-color: #6BC30D;
}
.header_main {
	width: 980px;
	margin: 0 auto;
}
.header_main p {
	font-size: 12px;
	line-height: 30px;
	color: #fff;
}
.header_main p:first-child {
	float: left;
}
.header_main p:last-child {
	float: right;
	padding-left: 27px;
	background: url(../image/phone_icons.png) left center no-repeat;
}

/*导航样式*/
nav {
	width: 980px;
	height: 102px;
	margin: 0 auto;
}
.navgation {
	float: right;
}
.navgation li {
	float: left;
}
.navgation li a {
	display: block;
	height: 102px;
	width: 97px;
	padding-top: 58px;
	text-align: center;
	font-size: 15px;
	color: #3a3a3a;
	background-color: #fff;
	position: relative;
	border-left: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.navgation li a:hover,
.navgation li a:focus {
	height: 103px;
	transform: translateY(-1px);
}
.navgation li:first-child a{
	background-color: #6BC30D;
	color: #fff;
}
.navgation li:last-child a{
	border-right: 1px solid #e5e5e5;
}
.navgation li a b {
	display: block;
	width: 29px;
	height: 28px;
	position: absolute;
	left: 33px;
	top: 25px;
	background: url(../image/nav_icons.png) no-repeat;
}
.navgation li:nth-child(1) a b {
	background-position: 0 0;
}
.navgation li:nth-child(2) a b {
	background-position: 0 -28px;
}
.navgation li:nth-child(3) a b {
	background-position: 0 -56px;
}
.navgation li:nth-child(4) a b {
	background-position: 0 -84px;
}
.navgation li:nth-child(5) a b {
	background-position: 0 -112px;
}
.navgation li:nth-child(6) a b {
	background-position: 0 -140px;
}
.navgation li:nth-child(7) a b {
	background-position: 0 -168px;
}

/*LOGO样式*/
nav h1 a{
	padding-left: 2px;
	float: left;
	color: #6bc30d;
	font-size: 47px;
	line-height: 102px;
}

/*横幅样式*/
section {
	width: 100%;
	height: 381px;
	background: blue;
	overflow: hidden;
}

/*主题样式*/
main {
	height: 266px;
	background-color: #f3f3f3;
}
main ul {
	width: 980px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
main ul li {
	width: 160px;
	height: 266px;
	position: relative;
}
.main_icon {
	display: block;
	width: 75px;
	height: 105px;
	font-size: 16px;
	padding-top: 88px;
	color: #3a3a3a;
	background: url(../image/main_icons.png) no-repeat;
	text-align: center;
	vertical-align: bottom;
	position: absolute;
	left: 43px;
	top: 54px;
}
main ul li:nth-child(1) .main_icon {
	background-position: 0 0 ;
}
main ul li:nth-child(2) .main_icon {
	background-position: -80px 0 ;
}
main ul li:nth-child(3) .main_icon {
	background-position: -160px 0 ;
}
main ul li:nth-child(4) .main_icon {
	background-position: -240px 0 ;
}
main ul li p {
	font-size: 12px;
	line-height: 21px;
	color: #a5a5a5;
	position: absolute;
	left: 0;
	top: 166px;
}
.more {
	color: #6bc30d;
}

/*主要内容样式*/
article {
	height: 461px;
	background-color: pink;
}

/*页脚样式*/
footer {
	height: 238px;
	background: green;
}